.line-pembuatan-surat {
    position: relative;
    margin-top: 10px;
}

.line-pembuatan-surat::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: yellow;
}

.line-distribusi-surat {
    position: relative;
    margin-top: 10px;
}

.line-distribusi-surat::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
}

.line-disposisi-surat {
    position: relative;
    margin-top: 10px;
}

.line-disposisi-surat::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: green;
}

.line-pengarsipan-surat {
    position: relative;
    margin-top: 10px;
}

.line-pengarsipan-surat::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: blue;
}
